@import "colors.css";

svg {
  cursor: pointer;
  height: 100%;
  width: 100%;
}

.route:hover {
  transition: filter 0.1s ease-in-out;
  filter: brightness(1.1) drop-shadow(0 0 6px rgb(255, 255, 255));
}

.route .claimed-shape,
.route .empty-shape {
  transition: opacity 0.3s ease-in-out;

}

.route .claimed-shape {
  opacity: 0;
}

.route .empty-shape {
  opacity: 1;
  stroke-width: 2px;
}

.route:not([data-owner-color="none"]) .claimed-shape {
  opacity: 1;
}

.route[data-owner-color="red"] .claimed-shape {
  fill: var(--red-player);
}

.route[data-owner-color="blue"] .claimed-shape {
  fill: var(--blue-player);
}

.route[data-owner-color="yellow"] .claimed-shape {
  fill: var(--yellow-player);
}

.route[data-owner-color="purple"] .claimed-shape {
  fill: var(--purple-player);
}


.route[data-owner-color="green"] .claimed-shape {
  fill: var(--green-player);
}

.route[data-route-color="white"] .empty-shape {
  fill: var(--white-route);
  stroke: #4a4a4a;
}

.route[data-route-color="black"] .empty-shape {
  fill: var(--black-route);
}


.route[data-route-color="red"] .empty-shape {
  fill: var(--red-route);
  stroke: #4a4a4a;

}

.route[data-route-color="blue"] .empty-shape {
  fill: var(--blue-route);
  stroke: #4a4a4a;
}

.route[data-route-color="pink"] .empty-shape {
  fill: var(--pink-route);
}

.route[data-route-color="yellow"] .empty-shape {
  fill: var(--yellow-route);
}

.route[data-route-color="orange"] .empty-shape {
  fill: var(--orange-route);
  stroke: #0a0909;
}

.route[data-route-color="green"] .empty-shape {
  fill: var(--green-route);
  stroke: #0a0909;
}

.route[data-route-color="transparent"] .empty-shape {
  fill: var(--transparent-route);
  opacity: 0.8;
  stroke-width: 2px;
}

.stationColor {
  fill: var(--station-clr);
  stroke: #0a0909;
}

.highlightCity>use {
  fill: transparent;
  stroke-width: 0;
  stroke: none;
}

.highlightCity text {
  font-weight: bold;
}

.for-now {
  animation: scale 0.5s infinite ease-in-out alternate-reverse;
}

.effect {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: rgb(3, 182, 0);
  color: white;
  border: none;
  overflow: hidden;
  border: 2px solid rgb(27, 27, 27);
  animation: scale 0.5s infinite ease-in-out alternate-reverse;
}

.effect::before {
  content: "";
  top: 0;
  left: -100%;
  width: 30%;
  height: 100%;
  background: rgba(255, 255, 255, 0.4);
  transform: skewX(-25deg);
  position: absolute;
  animation: shine 0.75s infinite forwards;

}

@keyframes zoom {
  0% {
    scale: 1;
  }

  50% {
    scale: 1.03;
  }

  100% {
    scale: 1;
  }
}

@keyframes shine {
  to {
    left: 150%;
  }
}

@keyframes scale {
  from {
    scale: 1.1;

  }

  to {
    scale: 1.5;
  }
}

.unfocus svg {
  filter: url(#shadow);
}

.unfocus {
  opacity: 0.8;
}

.inner-stroke {
  stroke: crimson;
  stroke-width: 10;
}

.outer-stroke {
  stroke: tan;
  stroke-width: 16;
}

@keyframes lineMove {
  0% {
    stroke-dashoffset: 0;
  }

  100% {
    stroke-dashoffset: 40;
  }
}