svg {
  cursor: pointer;
  height: 100%;
  width: 100%;
}

.route .claimed-shape,
.route .empty-shape {
  transition: opacity 0.3s ease-in-out;
}

/* By default, hide the claimed shape */
.route .claimed-shape {
  opacity: 0;
}

/* By default, show the empty shape */
.route .empty-shape {
  opacity: 1;
}

/* When claimed, show the complex shape */
.route:not([data-owner-color="none"]) .claimed-shape {
  opacity: 1;
}

/* Color the claimed shape based on the specific owner */
.route[data-owner-color="red"] .claimed-shape {
  fill: #e74c3c;
  stroke: #c0392b;
}

.route[data-owner-color="blue"] .claimed-shape {
  fill: #3498db;
  stroke: #2980b9;
}


.route[data-owner-color="green"] .claimed-shape {
  fill: mediumseagreen;
  /* opacity: 0.8; */
  stroke: black;
}

.route[data-owner-color="green"] .empty-shape {
  opacity: 0.5;
}

/* loading track color, color set from script */

.route[data-route-color="white"] .empty-shape {
  fill: rgb(244, 253, 255);
  stroke: #4a4a4a;
  opacity: 0.9;
}

.route[data-route-color="black"] .empty-shape {
  fill: black;
  stroke: black;
  opacity: 0.6;
}


.route[data-route-color="red"] .empty-shape {
  fill: #ea4949;
  stroke: #4a4a4a;
  opacity: 0.7;
}

.route[data-route-color="blue"] .empty-shape {
  fill: #4997ea;
  stroke: #4a4a4a;
  opacity: 0.7;
}

.route[data-route-color="pink"] .empty-shape {
  fill: #e779ed;
  stroke: #ff0c0c;
  opacity: 0.7;
}

.route[data-route-color="yellow"] .empty-shape {
  fill: #f2fb42;
  stroke: #ff0c0c;
  opacity: 0.7;
}

.route[data-route-color="orange"] .empty-shape {
  fill: #ff8401;
  opacity: 0.7;
  stroke: #0a0909;
}

.route[data-route-color="green"] .empty-shape {
  fill: #68ed66;
  opacity: 0.7;
  stroke: #0a0909;
}

.route[data-route-color="transparent"] .empty-shape {
  fill: rgb(150, 150, 150);
  opacity: 0.6;
  stroke: #ff0c0c;
}

/* Station color */

.stationColor {
  fill: rgb(116, 116, 116);
  stroke: #0a0909;
}

.highlightCity>use {
  fill: rgb(3, 182, 0);
  stroke-width: 0;
  stroke: none;
}

.highlightCity text {
  font-weight: bold;
}

.effect {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: rgb(3, 182, 0);
  color: white;
  border: none;
  overflow: hidden;
  border: 1.5px solid rgb(27, 27, 27);
  animation: scale 0.5s infinite ease-in-out alternate-reverse;
}

.effect::before {
  content: "";
  top: 0;
  left: -100%;
  width: 30%;
  height: 100%;
  background: rgba(255, 255, 255, 0.4);
  transform: skewX(-25deg);
  position: absolute;
  animation: shine 0.75s infinite forwards;

}

@keyframes zoom {
  0% {
    scale: 1;
  }

  50% {
    scale: 1.03;
  }

  100% {
    scale: 1;
  }
}

@keyframes shine {
  to {
    left: 150%;
  }
}

@keyframes scale {
  from {
    scale: 1.1;

  }

  to {
    scale: 1.5;
  }
}

.unfocus svg {
  filter: url(#shadow);
}

.unfocus {
  opacity: 0.6;
}