@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');
@import "colors.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'MedievalSharp', fantasy, serif;
}

html,
body {
  width: 100%;
  height: 100%;
  position: relative;
  font-family: 'MedievalSharp', fantasy, serif;
  background-image:
    radial-gradient(circle at 50% -40%, rgba(0, 0, 0, 0) 75%, rgb(0, 0, 0) 100%),
    url('../assets/game-background.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

main {
  display: flex;
  height: 77%;
  width: 100%;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

article {
  height: 100%;
  width: 74%;
}

.market {
  width: 13%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  gap: 1.5em;
}

.faceup-cards {
  display: flex;
  padding: 0 1em;
  flex-flow: column;
  justify-content: space-evenly;
  width: 90%;
  height: 75%;
}

.ticket-cards {
  height: 100%;
  display: flex;
  padding: 0 1em;
  flex-flow: column;
  justify-content: space-around;
  width: 90%;
}

.ticket-cards .card {
  width: 180px;
  height: 110px;
}

.faceup-cards img {
  width: 100%;
  height: 100%;
  transition: all 1s ease;
  border-radius: 5px;
}

.ticket-cards img {
  width: 100%;
  height: 100%;
}

.card {
  width: 100%;
  height: 18%;
  border-radius: 5px;
  border: 1px solid black;
  box-shadow: 2px 2px 10px 5px rgb(0, 0, 0);
  transition: all 1s ease;
}

.deck {
  width: 90%;
  height: 18%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0 1em;
}

.deck img {
  height: 80%;
  width: 85%;
  position: absolute;
  transition: all 0.7s ease;
  border-radius: 5px;
}

.deck #deck-img {
  width: 85%;
  background-color: rgb(154, 154, 154);
  box-shadow: 0px 3px 10px 7px rgb(0, 0, 0);
}

.footer {
  width: 100%;
  height: 23%;
  display: flex;
  align-items: center;
}

.hand-destination-tickets {
  width: 13%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1.5em;
  font-weight: 900;
  color: var(--content-bg-color);
  -webkit-text-stroke: 0.5px var(--content-bg-color);
  gap: 0.5em;
  cursor: pointer;
}

ion-icon {
  color: var(--content-bg-color);
}

.hand-destination-tickets .container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 110px;
  border-radius: 5px;
  overflow: hidden;
}

.buttons-container {
  display: flex;
  width: 80%;
  justify-content: space-between;
  gap: 10px;
}

#ticket-swipe-button-right,
#ticket-swipe-button-left {
  height: 30px;
  width: 30px;
}

.ticket {
  width: 180px;
  height: 110px;
  border-radius: 5px;
  position: absolute;
  overflow: hidden;
  box-shadow: 2px 2px 10px 4px rgb(0, 0, 0, 0.3);
}

.ticket img {
  border: 1px solid black;
  border-radius: 5px;
  height: 100%;
  width: 100%;
  object-fit: fill;
}

.button {
  height: 5%;
}

.button:hover {
  cursor: pointer;
}

.hand-car-cards {
  width: 74%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 4%;
  gap: 1%;
}

#squeezed-hand {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1%;
  width: 78%;
}

.build-route-container {
  width: 22%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.possible-cards {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 85%;
  width: 100%;
}

.build-actions {
  height: 15%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  gap: 2em;
}

.build-actions button {
  display: block;
  padding: 0;
  width: 170px;
  font-size: 1.5em;
  font-weight: 900;
  font-family: 'MedievalSharp', fantasy, serif;
  cursor: pointer;
}

.build-img-container {
  margin-top: 2em;
  width: 170px;
  height: 105px;
  transform: rotate(270deg);
  z-index: 0;
  border: 1px solid;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 1px 1px 8px 5px rgb(0, 0, 0, 0.7);
}

.possible-cards .hand-car-card {
  position: relative;
}

.possible-cards .card-count {
  top: 25%;
  left: 35%;
}

.card-placeholder {
  border: 1px dashed;
}

.hand-car-card {
  width: 105px;
  height: 170px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 105px;
  transform: rotate(270deg);
  z-index: 0;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 1px 1px 8px 5px rgb(0, 0, 0, 0.7);
}

.hand-car-card img {
  width: 100%;
  height: 100%;
  opacity: 0.9;
  position: relative
}

.card-count {
  z-index: 1;
  position: absolute;
  font-size: 4.5em;
  font-weight: 900;
  color: white;
  cursor: pointer;
  font-family: sans-serif;
  -webkit-text-stroke: 3px black;
}

.destination-tickets-deck-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 13%;
}

.destination-tickets-deck {
  height: 50%;
  width: 80%;
}

.destination-tickets-deck img {
  height: 100%;
  width: 100%;
}

.destination-tickets-deck:hover {
  cursor: pointer;
}

#ticket-claim-button:hover {
  cursor: pointer;
}

.claim-button {
  background-color: black;
  color: white;
  font-size: 18px;
  padding: 5px;
}

.disabled-submit {
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0.577);
  user-select: none;
}

.hidden {
  display: none;
}

.top {
  z-index: 31;
}

.active .highlight {
  animation: glitch 0.3s alternate-reverse infinite linear;
}

@keyframes glitch {
  to {
    translate: 15px;
  }
}

#alert-box {
  border: none;
  outline: none;
  z-index: 1;
}

.active-alert {
  padding-top: 0.4em;
  width: 100%;
  height: 3em;
  line-height: 2em;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.active-alert p {
  padding: 0.5 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25%;
  height: 100%;
  font-size: 2em;
  font-weight: 800;
  color: black;
  background-color: rgb(255, 255, 255, 0.1);
  border-radius: 5px;
  border: 1px solid #623c20;
  outline-offset: 1px;
  outline: 2px solid #2f1b0d;
}

.add-to-cart {
  transition: all 0.5s ease;
}

@keyframes showMove {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  90% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.is-disabled {
  pointer-events: none;
  opacity: 0.75;
  user-select: none;
}

.click-disabled {
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.6;
}

.disable-interactions {
  pointer-events: none;
  opacity: 0.8;
}

button:hover {
  transform: translateY(-2px);
  box-shadow: 5px 5px 0px #2e1b12;
  filter: brightness(1.1);
}

#build {
  background: #7a8b99;
  color: #fff9e6;
}

#cancel {
  background: #b85c38;
  color: #fff9e6;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

#exit-game {
  cursor: pointer;
  position: absolute;
  margin-left: 20px;
}