* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  padding-top: 1em;
  font-family:
    system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

main {
  display: flex;
  height: 75%;
  width: 100%;
}

.symbol {
  height: 20px;
  width: 20px;
  border-radius: 10px;
  background-color: black;
}

.row {
  display: flex;
  justify-content: space-around;
}

article {
  height: 100%;
  width: 74%;
}

.players {
  width: 13%;
  height: 100%;
  border: 1px solid;
}

.player-details {
  padding: 0.5em;
  gap: 2em;
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.log {
  width: 100%;
  border: 1px solid rgb(0, 0, 0);
  height: 30%;
}

.user {
  padding: 0.5em;
  border: 1px solid black;
  height: 20%;
  width: 100%;
}

.market {
  border: 1px solid;
  width: 13%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  gap: 3em;
}

.faceup-cards {
  display: flex;
  gap: 1em;
  flex-flow: column;
}

.faceup-cards img{
  width: 100%;
  height: 100%;
}

svg {
  cursor: pointer;
  height: 100%;
  width: 100%;
}

.card {
  width: 180px;
  height: 100px;
  border: 1px solid;
  border-radius: 5px;
}

.deck {
  width: 200px;
  height: 115px;
}

.deck img{
  height: 100%;
  width: 100%;
}

.destination-tickets-deck img{
  height: 100%;
  width: 100%;
}

footer {
  width: 100%;
  height: 25%;
  background-color: beige;
  display: flex;
  align-items: center;
}

.hand-destination-tickets {
  width: 13%;
  height: 100%;
  border: 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hand-destination-tickets .ticket {
  width: 180px;
  height: 110px;
  border: 1px solid;
}

.container {
  position: relative;
  /* border: 1px solid; */
  height: 80%;
  width: 180px;
}

#a-b {
  position: absolute;
  top: 10px;
}
#a-c {
  position: absolute;
  top: 30px;
}
#c-b {
  position: absolute;
  top: 50px;
  z-index: 1;
  background-color: aliceblue;
}

.hand-car-cards {
  width: 74%;
  height: 100%;
  border: 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.hand-car-card {
  margin-top: 2em;
  height: 180px;
  width: 110px;
  position: relative;
  display: flex;
  justify-content: center;
}

.hand-car-card img{
  border: 1px solid;
  border-radius: 6px;
  width: 100%;
}

.card-count {
  border: 1px solid;
  border-radius: 50%;
  padding: 0.3em 1em;
  transform: translate(0, -2em);
  position: absolute;
}

.destination-tickets-deck-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 13%;
}
.destination-tickets-deck {
  height: 120px;
  width: 200px;
}
