* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  padding-top: 1em;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;

  position: relative;
}

main {
  display: flex;
  height: 75%;
  width: 100%;
}

.symbol {
  height: 20px;
  width: 20px;
  border-radius: 50%;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

article {
  height: 100%;
  width: 74%;
}

.players {
  width: 13%;
  height: 100%;
  border: 1px solid;
}

.player-details {
  padding: 0.5em;
  gap: 1em;
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.log {
  width: 100%;
  border: 1px solid rgb(0, 0, 0);
  height: 30%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  padding: 0.4em;
}

.user {
  padding: 0.5em;
  border: 1px solid black;
  height: 20%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.train-car-data img {
  width: 20%;
}

.user .identifier {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.market {
  border: 1px solid;
  width: 13%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.faceup-cards {
  display: flex;
  padding: 0 1em;
  flex-flow: column;
  justify-content: space-evenly;
  width: 90%;
  height: 75%;
}

.ticket-cards {
  height: 100%;
  display: flex;
  padding: 0 1em;
  flex-flow: column;
  justify-content: space-around;
  width: 90%;
}

.ticket-cards .card {
  width: 180px;
  height: 110px;
}

.faceup-cards img {
  width: 100%;
  height: 100%;
  transition: all 1s ease;
  border-radius: 5px;
}

.ticket-cards img {
  width: 100%;
  height: 100%;
}

.card {
  width: 100%;
  height: 18%;
  border-radius: 5px;
  border: 1px solid black;
  transition: all 1s ease;
}

.deck {
  width: 90%;
  height: 18%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0 1em;
}

.deck img {
  height: 80%;
  width: 85%;
  position: absolute;
  transition: all 0.7s ease;
  border-radius: 5px;
}

.deck #deck-img {
  width: 85%;
  background-color: rgb(154, 154, 154);
  box-shadow: 0px 3px 0px 3px rgb(154, 154, 154);
}

.footer {
  width: 100%;
  height: 25%;
  display: flex;
  align-items: center;
}

.hand-destination-tickets {
  width: 13%;
  height: 100%;
  border: 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.hand-destination-tickets .container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 110px;
  border: 1px solid rgb(183, 182, 182);
}

.buttons-container {
  display: flex;
  width: 80%;
  justify-content: space-between;
  gap: 10px;
}

#ticket-swipe-button-right,
#ticket-swipe-button-left {
  height: 30px;
  width: 30px;
}

.ticket {
  width: 180px;
  height: 110px;
  border: 1px solid;
  position: absolute;
}

.ticket img {
  height: 100%;
  width: 100%;
}

.button {
  height: 5%;
}

.button:hover {
  cursor: pointer;
}

.hand-destination-tickets .ticket {
  width: 180px;
  height: 110px;
  border: 1px solid;
}

.container {
  position: relative;
  height: 80%;
  width: 180px;
}

.hand-car-cards {
  width: 74%;
  height: 100%;
  border: 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 4%;
  gap: 1%;
}

#squeezed-hand {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1%;
  width: 60%;
}

.build-route-container {
  width: 27%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.possible-cards {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 70%;
}

.build-actions {
  border: 1px solid;
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2em;
}

.build-actions button {
  display: block;
  padding: 0.5em;
  background-color: transparent;
}

.build-img-container {
  width: 170px;
  height: 105px;
  transform: rotate(270deg);
  z-index: 0;
  border: 1px solid;
}

.card-placeholder {
  border: 1px dashed;
}

.hand-car-card {
  width: 105px;
  height: 170px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 105px;
  transform: rotate(270deg);
  z-index: 0;
}

.hand-car-card img {
  width: 100%;
  height: 100%;
  opacity: 0.9;
}

.card-count {
  z-index: 1;
  position: absolute;
  font-size: 4.5em;
  font-weight: 900;
  color: white;
  font-family: sans-serif;
  -webkit-text-stroke: 3px black;
}

.destination-tickets-deck-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 13%;
}

.destination-tickets-deck {
  height: 50%;
  width: 80%;
}

.destination-tickets-deck img {
  height: 100%;
  width: 100%;
}

.destination-tickets-deck:hover {
  cursor: pointer;
}

#ticket-claim-button:hover {
  cursor: pointer;
}

.claim-button {
  background-color: black;
  color: white;
  font-size: 18px;
  padding: 5px;
}

.disabled-submit {
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0.577);
  user-select: none;
}

.hidden {
  display: none;
}

.is-disabled {
  pointer-events: none;
  opacity: 0.75;
  user-select: none;
}

.click-disabled {
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.6;
}

.top {
  z-index: 31;
}

.active .highlight {
  animation: glitch 0.3s alternate-reverse infinite linear;
}

@keyframes glitch {
  to {
    translate: 15px;
  }
}

#dialog-box {
  margin-right: 0px;
  line-height: 2em;
  left: auto;
  right: 50%;
  text-align: center;
  background-color: whitesmoke;
  border: none;
  outline: none;
  padding: 0.5em 1em;
  border-radius: 5px;
  z-index: 1;
}

.log {
  opacity: 0;
  width: 100%;
  animation: showMove 2s ease-in-out;
  border: none;
}

.add-to-cart {
  transition: all 0.5s ease;
}

@keyframes showMove {
  0% {
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

  90% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}