body {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  background-image:
    radial-gradient(circle at 50% -40%, rgba(0, 0, 0, 0) 75%, rgb(0, 0, 0) 100%),
    url('../assets/waiting_room_bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.container {
  background: white;
  padding: 2em;
  border-radius: 10px;
  width: 400px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 5px 0;
}

.start {
  margin-top: 1em;
  font-size: 20px;
  color: green;
}